#newcontact{
    margin-top:20px;
    margin-right:275px;
}
h1{
    text-align: center;
}
#logout{
    margin-bottom:40px;
}
ul{
    margin-left: 300px;
    margin-right:300px;    
}
.profile-photo{
    margin-right:30px;
    margin-left:30px;
}
.fakePhoto{
    border-radius: 100px;   
}
.contact-info{
    flex-grow:1;
    margin-left:60px;
}
h5{
    text-decoration: none;
    color:black;
}
i{
    color:#a9aaad;
    padding:10px;       
}
p{
    margin-bottom:8px;
    display:inline;
    margin-left: 10px;
}
#pencil, #trash{
    color:black;
    padding:10px;
    margin-right: 25px;
    margin-top:10px;
    cursor: pointer;
}

